body{
    background: url(../image/bg_mosaique.jpg) center no-repeat fixed;
    background-size: cover;
    margin: auto;
    /* 
    margin: 0, auto, 0, auto -> haut, dorite, bas, gauche
    margin: 0
    margin: 0, auto, 1; (gauche -> auto) */
}

#conteneur{
    width: 98%;
    margin-right: 20px;
    margin-left: 20px;
}

p{
    background-color: lightblue;
    border: solid;
    /* prpriete suivante a tester ! */
    /* display: inline; */
}

p span{
 /* selectionne les span contenus dans des p */
 background-color: rgba(255, 0, 212, 0.233);
}

.boite{

    font-size: x-large;
    font-weight: bold;
    height: 55px;
    width: 100px;
    padding: 5vh;
    background: url(../image/bg3.jpg);
    background-repeat: no-repeat;
    border: 5px double orchid;
    /* taille, style, couleur de la bordure */
    margin: 2vh;
    float: left;
    transition: margin 0.5s;
}

.boite2{

    font-size: x-large;
    font-weight: bold;
    height: 55px;
    width: 100px;
    text-align: center;
    padding: 5vh;
    background: url(../image/bg3.jpg);
    background-repeat: no-repeat;
    border: 5px double orchid;
    /* taille, style, couleur de la bordure */
    margin: 2vh;
    float: left;
    transition: margin 0.5s;

}

.clear{
    clear: both;
    /* supprimer l'effet floatant */
}
.boite:hover {
    /* la pseudo class : hover modifie au survol de la source (animation) */
    margin-top: 6vh;
}
.boite2:hover {
    /* la pseudo class : hover modifie au survol de la source (animation) */
    margin-top: 6vh;
}
.clear{
    clear: both;
    /* supprime l'effet floatant */
}
.v123{
    display: inline;
}
.titre{
 font-size:xx-large;
 text-align: center;

}
.bjr{
    font-size: x-large;
    text-align: center;
    margin-right: 30vh;
    margin-left: 30vh;
    border: 1px solid black;
    background-color: lightblue; 
}
.justebox{   
    margin: auto;
margin: 0 10% 0 18%;
text-align: center;
}