header {
    color: purple;
    height: 30px;
    background-color: purple;
}

a {
    background-color: lightskyblue;
    color: white;
    display: flex;
    flex-direction: column;
    height: 1.5vw;
    width: 40vh;
    border: 2px solid lightskyblue;
    margin: 7px;
}

.principal1{
    display: flex;
    justify-content: space-around;
}

.t3{
    color: white;
    background-color: lightskyblue;
    width: 40vh;
    margin: 2vh;
    text-align: center;
}
.image1{
display: flex;
justify-content: space-around;
}

footer{
    color: white;
    text-align: left;
    line-height: 40px;
    padding-left: 20px;
    background-color: lightskyblue;
    margin: 10px -8px 10px -8px;
    height: 5vh;
}
.t1{
    display: flex;
    margin-top: 20px;
}
nav{
    margin-left: -30px;
}