@font-face {
    font-family: "Macondo-Regular";
    src: url("/font/Macondo-Regular.ttf");
}
@font-face{
    font-family:"DancingScript" ;
    src: url("/font/DancingScript.ttf");
}
a:hover{
    border: solid 1px rgb(232, 177, 11);
    padding: 5px;
}
.contenu{
    width: 1900px;
    margin: auto;
}
body{
    background-color: black;
    font-family:Arial ;
    color: white;
    margin: 0px;
}
main{
    margin-top: -50px;
}
header{
    background-image: url(../image/eggs.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 98%;
    height: 800px;
    margin: auto;
    position: relative;
    z-index: 0;
}
header h1{
    color: white;
    margin-left: 10px;
}
.topHeader{
    display: flex;
    justify-content: space-between;
}
.blockHeader{
    backdrop-filter: brightness(30%);
    height: 800px;
}
header ul{
    display: flex;
    list-style-type: none;
}
header li a{
    color: #878080;
    margin-right: 10px;
    text-decoration: none;
}
.titreLogo{
    text-decoration: none;
    color: #878080;
}
.titre1{
    text-align: center;
    font-size: 25px;
    color: rgb(232, 177, 11);
}
.titre1 h2{
    font-family:"DancingScript" ;
}
.titre2{
    text-align: center;
    font-size: 70px;
    color: white;
    margin-top: 150px;
}
.titre3{
    text-align: center;
    font-size: 24px;
    color: white;
    margin-top: 150px;
}
section{
    width: 50%;
    margin: auto;
}
.Sect1, .Sect2{
    color: white;
    display: flex;
    margin-top: 20px;
}
.Sect1{
    margin-top: -10px;
}
.Sect1 h1{
    margin-top: 50px;
    font-family:"DancingScript" ;
    font-size: 30px;
}
.Sect1 h1,a{
    color:rgb(232, 177, 11) ;
}
.ourGastronomy{
    width: 350px;
    height: 425px;
    margin-top: 25px;
    border: solid 1px rgb(241, 198, 6);
    z-index: 1;
}
.ourGastronomy img{
    height: 400px;
    width: 300px;
    padding-top: 25px;
    padding-left: 25px;
}
.ourGastronomyText{
    margin-left: 90px;
    padding-top: 50px;
}
.ourGastronomyText a{
    text-decoration: none;
}
.Tasteful{
    width: 350px;
    height: 425px;
    border: solid 1px rgb(241, 198, 6);
}
.Tasteful img{
    height: 400px;
    width: 300px;
    padding-top: 25px;
    padding-right: 25px;
}
.TastefulText{
    margin-right: 90px;
}

.TastefulText h1{
    font-family:"DancingScript" ;
    font-size: 30px;
    color:rgb(232, 177, 11) ;
    margin-top: 65px;
}
.TastefulText a{
    text-decoration: none;
}
.Sect2{
    margin-top: 50px;
}
.Sect3{
    margin-top: 100px;
}
.menuSect3{
    text-align: center;
    color: white;
}
.menuSect3 h2{
    font-family:"DancingScript" ;
    font-size: 40px;
    color:rgb(232, 177, 11) ;
}
.menuSect3 ul{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}
.menuSect3 li a{
    color: white;
    margin-right: 10px;
    text-decoration: none;
}
.menuSect3 nav{
    margin-top: 50px;
}
.Sect4{
    width: 70%;
}
.blockSect4{
    margin-top: 150px;
}

.Chicken, .bobun, .poisson,.paella {
    height: 300px;
    width: 48%;
    float: left;
    margin: 10px;
}
.Chicken img,.poisson img{
    float: left;
    margin-right: 30px;
}
.Chicken h2, .bobun h2, .poisson h2, .paella h2{
    color:rgb(232, 177, 11) ;
    font-style: italic;
}
.bobun img, .paella img{
    float: right;
    margin-left: 30px;
}
.bobun p, .paella p{
    text-align: end;
}
.Sect5{
    display: flex;
    width: 70%;
}
.Sect5gauche, .Sect5droite{
    width: 50%;
}
.Sect5gauche{
    margin-bottom: 100px;
}
.Sect5gauche h1{
    font-family:"DancingScript" ;
    font-size: 30px;
    color:rgb(232, 177, 11) ;
}
.Sect5droite{
    position: relative;
}
.Sect5droite img{
    width: 420px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.clear{
    clear: both;
}
.Sect6{
    background-image: url(../image/reservation.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    text-align: center;
    padding-top: 50px;
}
.Sect6 h1{
    font-family:"DancingScript" ;
    font-size: 60px;
    color:rgb(232, 177, 11) ;
}
.Sect7{
    margin-bottom: 100px;
    text-align: end;
}
.Sect7 h1{
    font-family:"DancingScript" ;
    font-size: 40px;
    color:rgb(232, 177, 11) ;
}
.Sect8{
    width: 90%;
    margin: auto;
}
.imputReservation{
    display: flex;
    justify-content: center;
}
iframe{
    width: 100%;
    height: 350px;
}
#nombre{
    border: solid 1px grey;
    background: transparent;
    color: grey;
    border-radius: 5px;
    width: 250px;
    height: 50px;
    text-align: center;
    font-size: 23px;
}
#nombre:focus{
    color:rgb(232, 177, 11) ;
}
.date{
    border: solid 1px grey;
    background: transparent;
    color: grey;
    border-radius: 5px;
    width: 250px;
    height: 50px;
    text-align: center;
    font-size: 23px;
}
.date:focus{
    color:rgb(232, 177, 11) ;
}
#fname{
    border: solid 1px grey;
    background: transparent;
    color: grey;
    border-radius: 5px;
    width: 250px;
    height: 50px;
    text-align: center;
    font-size: 23px;
}
#fname:focus{
    color:rgb(232, 177, 11) ;
}
#reserveTable{
    margin-top: 100px;
    border: solid 1px grey;
    background-color: rgb(232, 177, 11) ;
    color: white;
    border-radius: 5px;
    width: 250px;
    height: 50px;
    text-align: center;
    font-size: 23px;
}
footer{
    display: flex;
    justify-content: space-around;
    text-align: center;
    background:dimgrey;
    bottom:0;
    right: 0;
    left: 0;
    padding-top:80px;
    height:300px;
    width: 1900px;
    position: relative;
}
footer h1{
    color: rgb(232, 177, 11);
    font-weight: bold;
    font-size: 35px;
}
.imageFond img{
    position: absolute;
    bottom: 0;
    right: 0px;
}
.contenuFooter{
    display: flex;
    justify-content: space-around;
    width: 1536px;
}
@media screen and (max-width: 992px){

    .contenu{
        width: 90%;
    }
    header{
        height:990px;
    }
    .titre1 h2{
        margin-top: 0px;
    }
    .titre2,.titre2 h3,.titre3{
        margin-top: 0px;
    }
    .blockHeader{
        height: 415px;
    }
    .Sect1{
        width: 100%;
    }
    .ourGastronomyText{
    margin-left: 10px;
    margin-right: 20px;
    }
    .Sect2{
        width: 100%;
    }
    .TastefulText{
        margin-left: 20px;
        margin-right: 10px;
    }
    .Sect3{
        width: 100%;
    }
    .Sect4{
        width: 98%;
    }
    .Chicken, .bobun, .poisson, .paella{
        width: 100%;
        text-align: center;
    }
    .Sect5{
        width: 100%;
    }
    .Sect7{
        width: 100%;
    }
    /* footer{

    } */
}