#conteneur{ 
    width: 960px; 
    background: lightblue; 
    color: white; 
    margin: 0 auto; 
}

header{ 
    background: orange; 
    height: 60px; 
    line-height: 60px; 
    text-align: center; 
}

nav{ 
    background: black; 
    height: 30px; 
    line-height: 30px; 
    text-align: center; 
}

section{ 
    height: 500px;
     background: gray;
      margin: 10px; 
      display: flex;
      flex-wrap: wrap;
}

.GZ {
     border: 1px solid; 
     /* float: left;  */
     height: 248px; 
     width: 468px; 
     display: flex;
     flex-wrap: wrap;
    }

.PZ {
     border: 1px solid; 
     /* float: left;  */
     height: 122px; 
     line-height: 122px; 
     text-align: center; 
     width: 232px;
     }

.couleur_rouge{
     background: rgb(167, 167, 15); 
    }

.couleur_jaune{ 
    background: blue; 
}

.couleur_verte{ 
    background: brown; 
}

.couleur_marron{
    background: rgb(255, 174, 0); 
}

footer { 
    background: silver;
    height: 70px;
    line-height: 70px; 
    text-align: center; 
}