#conteneur{
     background: blue; width: auto; 
    }
header{
    background: orange; width: auto; height: 10vh;
    }
.gauche{
    background: red; width: auto; height: 1220px; float: left;
    }
.milieu_gauche{
    background: yellow; width: 830px; height: 1220px; float: left;
    }
.milieu_doit{
    background: purple; width: 850px; height: 1220px; float: left;
    }
.doit{
        background: green; width: 500px; height: 1220px; float: left;
        }


.clear{
    clear: both;
    }